<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label>First Name:</label><br/>
    <%= form.text_field :firstName, id: :patient_firstName %>
  </div>

  <div class="field">
    <label>Surname:</label><br/>
    <%= form.text_field :surName, id: :patient_surName %>
  </div>

  <div class="field">
    <label>Date of Birth:</label><br/>
    <%= form.date_select :dob, id: :patient_dob, :start_year=>1900,:end_year=>2020  %>
  </div>

  <div class="field">
    <label>Diagnosis:</label><br/>
    <%= form.text_field :diagnosis, id: :patient_diagnosis %>
  </div>

  <div class="field">
    <label>Location:</label><br/>
    <%= form.text_field :location, id: :patient_location %>
  </div>

  <div class="field">
    <label>Admission Note:</label><br/>
    <%= form.text_area :admissionNote, id: :patient_admissionNote %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
