<!DOCTYPE html>
<html>
  <head>
    <title>Medicalrecords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            
            <a class="navbar-brand" href="index.html">Medical Records</a>
        </div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            
        	<% if user_signed_in? %>
            <ul class="nav navbar-nav side-nav">
                <li>
                    <%= link_to('View Patients', patients_path)  %>
                </li>
                <li>
                    <%= link_to('Search Patients', new_search_path)  %>
                </li>
                <li>
                    <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
                </li>
                
            </ul>

            <% else %>
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <%= link_to('Sign Up', new_user_registration_path)  %>
                </li>
                <li>
                    <%= link_to('Log In', new_user_session_path)  %>
                </li>
            </ul>

            <% end %>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</br></br></br>
   
    <div id="wrapper">
        <div class="container-fluid">

            <%= yield %>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

	    
		

  </body>
</html>
